.noteConteiner {
    
    padding: 0 1rem;
    min-height: 250px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.note {
    padding: 10px;
    background-color:  var(--secondary-color);
    border-radius: 5px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    margin: 1rem 0; 
    display: flex;
    flex-direction: column;
    height: 200px;
    max-width: 250px;
    min-width: 200px;
    overflow-wrap: break-word;
    overflow: scroll;
    
    
    
}
button {
    margin-top: auto;
    
}

.note h3 {
    padding-bottom: 2rem;
    margin: 0; 
}

.note p {
    margin: 0; 
    font-size: 1rem; 
    text-decoration: underline ;
    text-underline-offset: 3px;
    margin-bottom: 12px;
    
}
span {
    font-size: 12px;
    margin-left: auto;

}
.error {
    display: flex;
    justify-content: center;
    color: red;
}
